.popup-body {
  width: 600px;
}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.reset {
  width: 80px;
}

.reset:hover {
  outline: black solid 2px;
}

table{
  table-layout:fixed;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.index{
  width: 30px;
}